<div class="jumbotron">
  <h1>Handcrafted items from <br>
      around the world</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        
      </div>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class:"btn btn-link" %>
<% end %>
